node_modules
.env
config/token.json
functions/match/matchlog/
functions/status/dbCredentials.json
package-lock.json
package.json
drive/demosfolder/
drive/lastuploaddemodate.txt
functions/queue/queueData.json
package-lock.json
functions/match/maps/mapsBan.json
functions/match/matchTemplate.json
functions/queue/queueData.json
functions/server/serversInUse.json
functions/server/rcon/credentials
functions/logs/ftp.json